.cardList {
    width: 100%;
    flex: 1;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.content {
    display: flex;
    box-sizing: border-box;
    padding: 50px 100px;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    overflow-x: hidden;
    max-width: 100%;
}
